<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions required for Google Maps and Internet access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DhakaParkDriver"
        tools:targetApi="31">

        <!-- This meta-data tag holds your secured Google Maps API key. -->
        <!-- If you haven't set up the API key yet, this could also cause an error.
             See the note below. -->

        <!-- SplashActivity is the LAUNCHER activity. This is correct. -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity is our only other activity. It hosts all the fragments. -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!--
        DELETE THE OLD ACTIVITY DECLARATIONS.
        The lines for LoginActivity, SignUpActivity, and RegisterActivity
        must be removed because they are now Fragments, not Activities.
        -->

    </application>

</manifest>